params.reads = "/home/megan/RNAseq-Nextflow-Workflow/gametocyte_test_samples/*_{1,2}.fastq.gz"
params.reference = "/home/megan/RNAseq-Nextflow-Workflow/gametocyte_test_samples/PlasmoDB-58_PbergheiANKA_Genome.fasta"
params.outdir = "/home/megan/RNAseq-Nextflow-Workflow/gametocyte_test_samples/testing_results"
params.gff = "/home/megan/RNAseq-Nextflow-Workflow/gametocyte_test_samples/PlasmoDB-58_PbergheiANKA.gff"
params.config = "/home/megan/RNAseq-Nextflow-Workflow/gametocyte_test_samples/sample_conditions.txt"
params.paired = true
params.stranded = true

docker {
    enabled = true
}
