params.reads = "/home/avianeagle/bioinfo/TestSamples/Chr1Subset/*_{1,2}.fastq.gz"
params.reference = "/home/avianeagle/bioinfo/TestSamples/Chr1Subset/PlasmoDB-57_PbergheiANKA_chr1.fasta"
params.outdir = "/home/avianeagle/bioinfo/testing_results"
params.gff = "/home/avianeagle/bioinfo/TestSamples/Chr1Subset/PlasmoDB-57_PbergheiANKA_chr1.gff"
params.config = "/home/avianeagle/bioinfo/TestSamples/sampletable-nextflow.txt"
params.paired = false
params.stranded = true

docker {
    enabled = true
}
